@import "tailwindcss";

/* Add the OpenDyslexic font faces */

/* This one is Regular */
/* Font needs to be loaded from an external source */
@font-face {
  font-family: "OpenDyslexic";
  src: url("https://jfltx.github.io/map675-mod03/map-libre-ls/assets/fonts/OpenDyslexic-Regular.woff2")
      format("woff2"),
    url("https://jfltx.github.io/map675-mod03/map-libre-ls/assets/fonts/OpenDyslexic-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "OpenDyslexic";
  src: url("https://jfltx.github.io/map675-mod03/map-libre-ls/assets/fonts/OpenDyslexic-Bold.woff2")
      format("woff2"),
    url("https://jfltx.github.io/map675-mod03/map-libre-ls/assets/fonts/OpenDyslexic-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "OpenDyslexic";
  src: url("https://jfltx.github.io/map675-mod03/map-libre-ls/assets/fonts/OpenDyslexic-Italic.woff2")
      format("woff2"),
    url("https://jfltx.github.io/map675-mod03/map-libre-ls/assets/fonts/OpenDyslexic-Italic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "OpenDyslexic";
  src: url("https://jfltx.github.io/map675-mod03/map-libre-ls/assets/fonts/OpenDyslexic-BoldItalic.woff2")
      format("woff2"),
    url("https://jfltx.github.io/map675-mod03/map-libre-ls/assets/fonts/OpenDyslexic-BoldItalic.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* add styles globally to project */
body {
  font-family: "OpenDyslexic", system-ui, sans-serif;
}

/* MapLibre GL JS Popup styles using OpenDyslexic */
.maplibregl-popup-content,
body {
  font-family: "OpenDyslexic", system-ui, sans-serif;
  @apply text-gray-800 font-light; /* use @apply for Tailwind styles */
}

/* Popup content container styles */
.maplibregl-popup-content {
  @apply rounded-lg shadow-lg; /* use @apply for Tailwind styles */
}
